[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=3.89.238.76
Environment=CATALOGUE_HOST=3.82.105.22
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target