[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=44.192.126.104
Environment=CATALOGUE_HOST=3.84.148.75
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target