[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=44.206.229.86:8080
Environment=DB_HOST=3.235.137.123
ExecStart=/bin/java -jar /app/shipping.jar --server.address=0.0.0.0
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target